<!DOCTYPE html>
<html>
<head>
  <title>profile</title>
</head>
<body>
  <h1>Dashboard</h1>
  <p>Welcome, <%= user.username %>!</p>
  <a href="/auth/logout">Logout</a>
  <a href="/admin/dashboard">go to dashboard</a>

</body>
</html>
