<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="/css/index.css">
  <link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" rel="stylesheet" />
</head>

<body>
  <div class="container">

    <nav>
      <!-- nav section will written here -->
    </nav>

    <div class="hero">
      <div class="slider">
        <% if (benner.length> 0) { %>
          <% benner.forEach((banner, index)=> { %>
            <img class="slide <%= index === 0 ? 'active' : '' %>" src="/<%= banner.landingPageBanner %>"
              alt="hero banner">
            <% }); %>
              <!-- Manual Controls -->
              <button class="slider-control prev">
                <i class="ri-arrow-left-s-fill"></i>
              </button>
              <button class="slider-control next">
                <i class="ri-arrow-right-s-fill"></i>
              </button>
              <% } else { %>
                <p>No banner available</p>
                <% } %>
      </div>
    </div>

  </div>
  <% if (user) { %>
    <p>Hello, <%= user.username %>!</p>
    <a href="/users/profile">Dashboard</a> | <a href="/auth/logout">Logout</a>
    <% } else { %>
      <a href="/auth/login">Login</a> | <a href="/auth/register">Register</a>
      <% } %>

        <script src="/js/index.js"></script>
</body>

</html>